{{- define "content" -}}

{{ if and (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") (.Store.Get "params").enable_toc }}
    {{ $toc_position := (.Store.Get "params").toc_position }}
    {{ if eq $toc_position "right" }}
        {{ partial "fixed-toc.html" (dict "context" . "position" $toc_position) }}
    {{ else if eq $toc_position "top" }}
        {{ $enable_collapsible_toc := (.Store.Get "params").enable_collapsible_toc }}
        {{ partial "collapsible-menu.html" (dict "type" "toc" "context" . "enable" $enable_collapsible_toc) }}
    {{ end }}
{{ end }}

<header class="post-header content-margin">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-meta">
        {{ with .Date }}
        <time class="relative-time"
              datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}"
              data-fmt="{{ .Format "02 Jan 2006" }}">{{ .Format "02 Jan 2006" }}</time>
        {{ end }}
        {{ with .Params.tags }}
        <span class="post-tags">
            {{ range . }}<a class="post-tag" href="{{ (printf "/tags/%s/" (. | urlize)) | relLangURL }}">{{ . }}</a>{{ end }}
        </span>
        {{ end }}
    </div>
</header>

{{ $img := .Params.feature_image | default .Site.Params.default_feature_image }}
{{ with $img }}
<div class="content-margin">
    <img src="{{ . }}" alt="{{ $.Title }}" class="feature-image" loading="lazy">
</div>
{{ end }}

{{ if .Content }}
    <div class="content-margin">
        {{- partial "content.html" (dict "ctx" . "content" .Content) -}}
    </div>
{{ end }}

{{- end -}}
