{{ $ctx := .ctx }}
{{ $pages := .pages }}

<div class="postcard-layout content-margin">
    {{ if $pages }}
        {{ range $pages }}
            {{ template "postcarditem" . }}
        {{ end }}
    {{ else }}
        {{ range ($ctx.Paginator).Pages }}
            {{ template "postcarditem" . }}
        {{ end }}
        {{ partial "pagination.html" $ctx }}
    {{ end }}
</div>

{{ define "postcarditem" }}
<a href="{{ .Permalink }}">
    <div class="postcard-item">
        {{ $img := .Params.feature_image | default .Site.Params.default_feature_image }}
        {{ with $img }}
        <div class="postcard-image">
            <img src="{{ . }}" alt="{{ $.Title }}" loading="lazy">
        </div>
        {{ end }}
        <div class="postcard-body">
            <div class="postcard-title">
                <span>{{ .Title }}</span>
            </div>
            <div class="postcard-summary">
                <span>{{ .Summary | plainify }}</span>
            </div>
            <div class="postcard-metadata">
                <time class="relative-time"
                      datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
                      data-fmt="{{ .Date.Format "02 Jan 2006" }}">{{ .Date.Format "02 Jan 2006" }}</time>
                {{ with .Params.tags }}
                <span class="postcard-tags">
                    {{ range first 3 . }}<span class="postcard-tag">{{ . }}</span>{{ end }}
                </span>
                {{ end }}
            </div>
        </div>
    </div>
</a>
{{ end }}
